[submodule "arduino/libs/SHT1x"]
	path = arduino/libs/SHT1x
	url = https://github.com/practicalarduino/SHT1x

[submodule "esp8266-arduino/ppd42ns-wificonfig-ppd-sds-dht/lib/TinyGPSPlus"]
	path = esp8266-arduino/ppd42ns-wificonfig-ppd-sds-dht/lib/TinyGPSPlus
	url = https://github.com/mikalhart/TinyGPSPlus.git
[submodule "airrohr-firmware/lib/SparkFun_CCS811_Arduino_Lib"]
	path = airrohr-firmware/lib/SparkFun_CCS811_Arduino_Lib
	url = https://github.com/sparkfun/SparkFun_CCS811_Arduino_Library.git
